pipeline/setvariable.json
{
	"name": "setvariable",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "set the variable for filetype",
						"value": "replace file name saleshourly to hourly"
					}
				],
				"typeProperties": {
					"variableName": "filetype",
					"value": {
						"value": "@replace(pipeline().parameters.filename,'sales','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [
					{
						"name": "hourly data(true)",
						"value": "if the filename equal to horly copy hourly files to destination"
					},
					{
						"name": "daily data(false)",
						"value": "if the filename equal to daily copy hourly files to destination"
					}
				],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('filetype') ,'hourly')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Copy daily sales",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_synapsestorage",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.containername",
											"type": "Expression"
										},
										"foldername": {
											"value": "@pipeline().parameters.foldername",
											"type": "Expression"
										},
										"filename": {
											"value": "@pipeline().parameters.filename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sink",
									"type": "DatasetReference"
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy hourly sales",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_synapsestorage",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.containername",
											"type": "Expression"
										},
										"foldername": {
											"value": "@pipeline().parameters.foldername",
											"type": "Expression"
										},
										"filename": {
											"value": "@pipeline().parameters.filename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sink",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"filename": {
				"type": "string"
			},
			"foldername": {
				"type": "string"
			},
			"containername": {
				"type": "string"
			}
		},
		"variables": {
			"listoffiles": {
				"type": "Array"
			},
			"filetype": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-09-19T11:41:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}